In [55]:
# run DataSciProject/server/start_server.py in cmd/or IDE first.
import os, sys
from IPython.utils import io
project_path = os.getcwd().replace("notebook", "")
sys.path.append(project_path)
sys.path.append(project_path + "env\\Library\\")
sys.path.insert(0, os.path.abspath('..'))
from time_helper import xltoday, xl_to_date, date_to_xl, add_period
from client.start_client import pyfunc_caller
from constant import *

In [56]:
# Download stock price data
today = xltoday()
today_dt = xl_to_date(today)
start_date = date_to_xl(add_period(today_dt, "1Y", -1))
end_date = date_to_xl(today_dt)
ticket = "000001.sz"

with io.capture_output() as captured:
    pyfunc_caller().pd_md_save_hist_price(ticket, start_date=add_period(today_dt, "1Y", -1), end_date=today_dt, souece="auto", db_type=SQL)
    price = pyfunc_caller().pd_md_get_hist_price(ticket, start_date=add_period(today_dt, "1Y", -1), end_date=today_dt, source=SQL)
price

        Date       Open       High        Low      Close  Adj Close     Volume
0    44508.0  17.620001  17.809999  17.360001  17.420000  17.114716  137681482
1    44509.0  17.480000  17.650000  17.260000  17.530001  17.222788  124057275
2    44510.0  17.459999  17.469999  17.160000  17.400000  17.095066  122085088
3    44511.0  17.350000  18.430000  17.320000  18.350000  18.028418  208472900
4    44512.0  18.309999  18.629999  18.110001  18.270000  17.949820   95754646
..       ...        ...        ...        ...        ...        ...        ...
238  44866.0  10.380000  10.680000  10.360000  10.670000  10.670000  138123413
239  44867.0  10.610000  10.680000  10.480000  10.630000  10.630000  130298818
240  44868.0  10.540000  10.570000  10.380000  10.440000  10.440000   98353561
241  44869.0  10.400000  10.850000  10.390000  10.820000  10.820000  177611223
242  44872.0  10.810000  10.910000  10.730000  10.880000  10.880000   98808204

[243 rows x 7 columns]